/* employee-create.component.css */

.formDiv {
  width: 30%;
  margin: auto;
}
.createEmp {
  margin-top: 50px;
  text-align: center;
}
.form-container {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 35%;
}

.btn-primary:hover {
  background-color: #0056b3;
}
